extends admin_base.pug

block view
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.fs-1 Events
  h2.fs-3 Current Events
  .table-responsive
    table.table.table-striped.table-sm
      thead
        tr
          th(scope='col') #
          th(scope='col') Sport
          th(scope='col') Name
          th(scope='col') Date
          th(scope='col') Time
          th(scope='col') Venue
      tbody
        for event in events
          tr.admin-event-row
            td(onclick=`window.location = '/events/${event.id}'`)= event.id
            td(onclick=`window.location = '/events/${event.id}'`)= event.sport
            td= event.name
            td= event.date
            td= event.time
            td= event.venue
            td
              button.btn.btn-danger.delete-button(val=`${event.id}`) Delete
