extends admin_base.pug

block view
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Events
  h2 Current Events
  .table-responsive
    table.table.table-striped.table-sm
      thead
        tr
          th(scope='col') #
          th(scope='col') Sport
          th(scope='col') Name
          th(scope='col') Date
          th(scope='col') Time
          th(scope='col') Venue
      tbody
        for event in events
          tr
            td= event.id
            td= event.sport
            td= event.name
            td= event.date
            td= event.time
            td= event.venue
