section.py-5.container
  .row
    .col.mr-auto
      h1.fw-light Events
.album.py-5.bg-dark
  .container.events-row
    .swiper#swiper-container
      .swiper-wrapper
        mixin event_slide(event)
          .swiper-slide
            .card.shadow-sm
              .card-header= event.sport
              .card-body
                .card-title= event.name
                .card-text
                  =event.description
                .list-group.list-group-flush
                  .list-group-item Date: #{event.date}
                  .list-group-item Time: #{event.time}
                  .list-group-item Venue: #{event.venue}
        for event in events
          +event_slide(event)
      .swiper-pagination#swiper-pagination
      .swiper-button-prev#swiper-button-prev
      .swiper-button-next#swiper-button-next
